<!DOCTYPE html>
<html>
  <head>
    <title>VuroSocial</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react' %>
    <%= javascript_pack_tag 'registration' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
